.profile-container {
	padding: 20px;
    position: relative;
    font-family: Arial, sans-serif;
}

.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile-header {
	font-size: 2em;
	margin-bottom: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
    border: #000000;
    border-width: 0.5px;
	margin-bottom: 20px;
}

.profile-name, .profile-email {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.books-header, .transactions-header {
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.grid-item {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.toggle-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.logout-profile-button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
}